:root {
    --color-main: #1f2937;
    --text-main: #f9faf8;
    --color-sub: #e5e7eb;
    --accent: #3882f6;

    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-flow: column nowrap;

    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    padding-right: 8px;


    color: var(--color-sub);
    background-color: var(--color-main);
}

.header-links > ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;

    list-style: none;
    padding: 0;
    margin: 0;
}

.header-links {
    display: flex;
    align-items: center;
}

.hero {
    display: flex;
}

.info {
    display: flex;
    flex-flow: column nowrap;
}

.quote {
    display: flex;
}

.call-to-action {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--color-sub);
}