:root {
    --color-main: #1f2937;
    --text-main: #f9faf8;
    --color-sub: #e5e7eb;
    --accent: #3882f6;

    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-flow: column nowrap;

    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    padding-right: 8px;


    color: var(--color-sub);
    background-color: var(--color-main);
}

.header-links > ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;

    list-style: none;
    padding: 0;
    margin: 0;
}

.header-links {
    display: flex;
    align-items: center;
}

.hero {
    display: flex;
    background-color: var(--color-main);
    color: var(--color-sub);
    align-items: center;
    justify-content: center;

    padding: 64px;
}

.hero-right {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 30vw;
}

.hero-right > img {
    background-color: var(--color-sub);
    color: var(--color-main);
    height: 300px;
    width: 300px;
}

.hero-left {
    display: flex;
    flex-flow: column nowrap;

    width: 35vw;
    gap: 16px;
}

.hero-left > h2 {
    padding: 0;
    margin: 0;

    font-size: 48px;
    font-weight: 1000;
}

.hero-left > p {
    padding: 0;
    margin: 0;
}

.hero-left > button {
    background-color: var(--accent);
    border: none;
    color: var(--color-sub);
    padding: 8px;
    border-radius: 8px;
    width: fit-content;
}

.info {
    display: flex;
    flex-flow: column nowrap;
}

.info-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-body {
    display: flex;
    justify-content: space-around;
}

.quote {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    background-color: var(--color-sub);
}

.call-to-action {
    margin: 5vh 10vw;
}

.call-hero {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    background-color: var(--accent);
    color: var(--text-main);    
}

.call-hero-left {
    display: flex;
    flex-flow: column nowrap;

}

.call-hero-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--text-main);
    background-color: var(--color-main);
}   